.categories {
  margin: 50px auto 0;
  max-width: 1440px;
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  gap: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

.category__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  height: 45px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  cursor: pointer;

  transition: all 0.2s;


  &:hover {
    background: #FF0000;
    color: white;
    margin: 0 5px 0 5px;
    -webkit-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
}
