.categories {
  display: flex;
  margin-top: 50px;
  gap: 10px;
  a {
    text-decoration: none;
    color: black;
  }
}

.category__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;

  height: 45px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;

  cursor: pointer;

  &:hover {
    transition: 0.2s;
    background: #FF0000;
    color: white;
  }
}
