.my-button {
  text-decoration: none;
  color: white;
  padding: 10px 10px;
  margin-right: 10px;
  border: 1px solid #1a1a1a;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: .8s cubic-bezier(.165, .84, .44, 1);
  background: #b4b4b4;
  width: 150px;
  cursor: pointer;
}
.my-button:hover {
  color: #5d5d5d;
  background: wheat;
}