.header-container {
  background-color: #ffffff;
  height: 100px;
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.header__logo {
  width: 132px;
  height: 28px;
}

.header__search {
  width: 700px;
  height: 40px;
  padding-left: 15px;

  border-radius: 30px;
  border: 0 solid #ffffff;
  background-color: #F2F2F2;
  font-size: 14px;
  color: #000000;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.header__button {
  position: absolute;
  margin-left: -47px;
  margin-top: 7px;

  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 0 solid #ffffff;
  font-size: 14px;
  color: black;

  background-color: #F2F2F2;

  &:hover {
    transition: 0.2s;
  }
}

.header__actions {
  display: flex;

  width: 150px;
  justify-content: space-around;
}
