.header {
  width: 1440px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background: var(--r-globalnav-segmentbar-background, rgba(66, 66, 69, 0.8));
}

.header-userMenu {
  width: 100px;
  height: auto;
  background: rgba(224, 224, 224, 0.51);
}


