.popular {
  background: rgba(179, 245, 218, 0.47);
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 100%;
  padding: 10px 50px;
}

.popular-block-image {
  display: flex;
  max-height: 300px;
  background: rgba(52, 201, 156, 0.7);
  border-radius: 20px;
  padding: 10px;
}

.popular-root-image {
  width: 300px;
  height: 200px;
  margin: 0 20px;
  background: rgba(217, 65, 234, 0.56);
  display: flex;
}

.popular-secondary-image {
  width: 220px;
  height: 160px;
  margin: 0 20px;
  background: rgba(234, 65, 175, 0.56);
}