.banner {
  margin: 100px auto 0;
  max-width: 1440px;
  width: 100%;
}

.banner-slider {
  margin-top: 100px;
  padding-left: 120px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #C1BDBA 0%, #CCCCCC 45.33%, #D1D1D3 70.29%, #D1D2D6 98.86%);
  gap: 200px;
  a {
    text-decoration: none;
    color: black;
  }
}

.banner_box-discount {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
  }
}

.banner_name-product {
  padding-top:  50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #292D32;
}

.banner_discount {
  margin-top: 50px;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-transform: uppercase;
  color: #FCFCFC;
}

.banner_promo-txt {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FCFCFC;
  margin-right: 30px;
}

.banner_promo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 40px;
  background: #292D32;
  border-radius: 30px;
  border: 0 solid;

  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-right: 96px;
}

.banner_price-product {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #292D32;
}

.banner_new-price {
  position: relative;
  right: 0;
  bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-decoration-line: none;
  color: #FF0000;
}

.banner_button-box {
  margin-top: 80px;
  width: 148px;
  height: 42px;
}

.banner_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF0000;
  border-radius: 20px;
  width: 148px;
  height: 42px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FCFCFC;
  border: 0 solid;
  cursor: pointer;
  transition: all 2s;
}

.banner_img {
  width: 1420px;
  height: 480px;
  background: linear-gradient(180deg, #C1BDBA 0%, #CCCCCC 45.33%, #D1D1D3 70.29%);
}
////////////////////
.banner-card {
  background: #FFFFFF;
  max-width: 400px;
  margin: 0 auto;
  //margin: 100px;
  border-radius: 12px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  box-sizing: border-box;
  padding: 48px;
  text-align: center;
}

.products {
  height: 500px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  box-sizing: border-box;
}

.product {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.product.active {
  opacity: 1;
  visibility: visible;
}

.thumbnail {
  margin: 0 0 48px;
}

.title {
  margin: 0 0 12px;
  color: #D18B49;
  font-size: 24px;
  transition: 0.5s ease;
}

.description {
  margin: 0 0 48px;
}

.banner-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 -12px -12px;
}

.btn {
  border-radius: 2px;
  padding: 8px 12px;
  color: #D18B49;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s ease;
}

[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  transform: scale(0);
  -webkit-animation: ripple 2s;
  animation: ripple 2s;
}

@-webkit-keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.2;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}






























