.banner {
  margin: 100px auto 0;
  max-width: 1440px;
  width: 100%;
}

.banner_box {
  padding-left: 120px;
  width: 1420px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  background: linear-gradient(180deg, #C1BDBA 0%, #CCCCCC 45.33%, #D1D1D3 70.29%, #D1D2D6 98.86%);
  a {
    text-decoration: none;
    color: black;
  }
}

.banner-name-product {
  padding-top:  50px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #292D32;
}

.banner-discount {
  min-width: 550px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 64px;
  line-height: 87px;
  text-transform: uppercase;
  color: #FCFCFC;
}

.banner-promo-txt {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  color: #FCFCFC;
  margin-right: 30px;
}

.banner-promo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 91px;
  height: 40px;
  background: #292D32;
  border-radius: 30px;
  border: 0 solid;

  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  color: #F2F2F2;
  margin-right: 96px;
}

.banner-price-product {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-decoration-line: line-through;
  color: #292D32;
}

.banner-new-price {
  position: relative;
  right: 0;
  bottom: 12px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-decoration-line: none;
  color: #FF0000;
}

.banner-button_box {
  margin-top: 80px;
  width: 148px;
  height: 42px;
}

.banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FF0000;
  border-radius: 20px;
  width: 148px;
  height: 42px;

  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #FCFCFC;
  border: 0 solid;
  cursor: pointer;
  transition: all 2s;
}

.banner-card {
  margin: 0 auto;
  max-width: 1420px;
}

.products {
  height: 495px;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  box-sizing: border-box;
}

.product {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.product.active {
  opacity: 1;
  visibility: visible;
}

.banner-button-slider_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-button-slider {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 1px solid #292D32;
  margin-right: 10px;
  transition: all .2s;
cursor: pointer;
}

.banner-button-slider.btn-active {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background: #292D32;
}
