.s-field__box {
	width: 700px;
  height: 40px;
  background: #F2F2F2;
  padding: 0 18px;
  border-radius: 30px;
  font-size: 14px;
  color: #000000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.s-filed_input {
  background: transparent;
  width: 80%;
  border: 0 solid #ffffff;
  font-size: 16px;
  line-height: 25px;

  &:hover {
    outline: none;
  }

  &:focus {
    outline: none;
  }
}

.s-field_button {
  width: 24px;
  height: 24px;
  background: url("../../images/search_icon.svg");
}
